body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
  font-weight: bold;
}

.radio-label {
  display: flex;
  justify-content: center;
}

input {
  margin-right: 5px;
}

label {
  font-size: 14px;
  font-weight: bolder;
  color: #888;
  margin-right: 1.5em;
  vertical-align: top;
}

label > input[type="radio"] {
  vertical-align: middle;
  margin-top: -2px;
}

.subcomp {
  margin-bottom: 1em;
}

input[type="text"] {
  height: 30px;
  width: 60px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid lightskyblue;
  border-radius: 5px;
}
